body{
    font-family: montserrat;
    text-align: center;
}
#abc{
    font-size:15px ;
}
.heading{
    font-size: 25px;
    width: 100%;
}
.copy_right_footer{
    position:fixed;
    color:navy;
    background-color: aliceblue;
    width: 100%;
    bottom: 0%;
    text-align: center;
    line-height: 2;
}